* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgb(39, 182, 201), rgb(27, 50, 255));
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50em;
    height: 49em;
    background-color: #0033ee55;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

#current-op {
    position: absolute;
    transform: translate(325%, -160%);
    width: 2em;
    height: 2em;
    font-size: 5em;
    color: #2295;
}

#display {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff3;
    width: 7.45em;
    height: 1.6em;
    padding: 0.2em;
    border-radius: 10px;
    transform: translate(0 , -180%);
    font-size: 100px;
    color: #229a;
}

#buttons1 {
    position: absolute;
    width: 14em;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(-14%, 17%);
}

#buttons2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 9em;
    height: 35em;
    transform: translate(205%, 5.8em);
}

.backspace {
    color: #229a;
    display: flex;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 10em;
    background-color: #aae5;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 2em;
    height: 10em;
    background-color: #aae5;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.backspace:hover,
.enter:hover {
    background-color: #8885;
}
.backspace:active,
.enter:active {
    transition: none;
    color: #fff6;
}

.enter img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
}

.side {
    margin: 5px;
}

.btn {
    color: white;
    width: 3em;
    height: 2.9em;
    background-color: #fff4;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover,
#clear:hover {
    background-color: #8885;
}

.btn:active,
#clear:active {
    transition: none;
    color: #fff6;
}

#clear,
.dot {
    background-color: #aaa5;
}

.operator {
    background-color: #2227;
}

